In [27]:

import pandas as pd
import numpy as np

En esta clase veremos
    operaciones con columnas
    filtros
    formas de ordenar

operaciones con columnas
cargamos un archivo csv

In [28]:

df_iris=pd.read_csv("data/iris.tab",sep="\t",skiprows=(1,2))
df_iris.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [29]:
df_iris.columns=["sepal_length", "sepal_width", "petal_length","petal_width", "iris"]

In [30]:
df_iris.head()
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   iris          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

multiplicamos una columna por un numero

In [31]:

df_iris.sepal_length * 2

0      10.2
1       9.8
2       9.4
3       9.2
4      10.0
       ...
145    13.4
146    12.6
147    13.0
148    12.4
149    11.8
Name: sepal_length, Length: 150, dtype: float64

In [32]:
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

sumamos y restamos columnas --> columna + columna
                                columna - columna

In [33]:
df_iris.sepal_length - df_iris.sepal_width

0      1.6
1      1.9
2      1.5
3      1.5
4      1.4
      ...
145    3.7
146    3.8
147    3.5
148    2.8
149    2.9
Length: 150, dtype: float64

In [34]:
#agregamos esta columna nueva al data frame
df_iris["sp-sw"] = df_iris.sepal_length - df_iris.sepal_width
df_iris.head()
#en este caso estariamos agregando una columna nueva con la resta de las columnas

   sepal_length  sepal_width  petal_length  petal_width         iris  sp-sw
0           5.1          3.5           1.4          0.2  Iris-setosa    1.6
1           4.9          3.0           1.4          0.2  Iris-setosa    1.9
2           4.7          3.2           1.3          0.2  Iris-setosa    1.5
3           4.6          3.1           1.5          0.2  Iris-setosa    1.5
4           5.0          3.6           1.4          0.2  Iris-setosa    1.4

In [35]:
# T A R E A
#multiplicacion de columnas y division
#multiplicacion ----> columna * columna
#division -----> columna // columna
df_iris["sup-pet"]=df_iris.petal_length * df_iris.petal_width
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet
0,5.1,3.5,1.4,0.2,Iris-setosa,1.6,0.28
1,4.9,3.0,1.4,0.2,Iris-setosa,1.9,0.28
2,4.7,3.2,1.3,0.2,Iris-setosa,1.5,0.26
3,4.6,3.1,1.5,0.2,Iris-setosa,1.5,0.30
4,5.0,3.6,1.4,0.2,Iris-setosa,1.4,0.28

In [36]:
# T A R E A
#superficie para sepalos
df_iris["sup-sep"] = df_iris.sepal_length * df_iris.sepal_width
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep
0,5.1,3.5,1.4,0.2,Iris-setosa,1.6,0.28,17.85
1,4.9,3.0,1.4,0.2,Iris-setosa,1.9,0.28,14.70
2,4.7,3.2,1.3,0.2,Iris-setosa,1.5,0.26,15.04
3,4.6,3.1,1.5,0.2,Iris-setosa,1.5,0.30,14.26
4,5.0,3.6,1.4,0.2,Iris-setosa,1.4,0.28,18.00

In [37]:
# T A R E A
#division entre petalos
df_iris["pet_l/pet_w"] = df_iris.petal_length // df_iris.petal_width
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep,pet_l/pet_w
0,5.1,3.5,1.4,0.2,Iris-setosa,1.6,0.28,17.85,6.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.9,0.28,14.70,6.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.5,0.26,15.04,6.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.5,0.30,14.26,7.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.4,0.28,18.00,6.0

In [38]:
# T A R E A
#elevar al cuadrado los valores de petal lenght
df_iris.petal_length ** 2

0       1.96
1       1.96
2       1.69
3       2.25
4       1.96
       ...
145    27.04
146    25.00
147    27.04
148    29.16
149    26.01
Name: petal_length, Length: 150, dtype: float64

Exponenciales
np.exp(df_iris.petal_lenght)
en este caso nos daria el resultado con exponente a la e

In [39]:
np.exp(df_iris.petal_length)

0        4.055200
1        4.055200
2        3.669297
3        4.481689
4        4.055200
          ...
145    181.272242
146    148.413159
147    181.272242
148    221.406416
149    164.021907
Name: petal_length, Length: 150, dtype: float64

In [40]:
np.e**(df_iris.petal_length)

0        4.055200
1        4.055200
2        3.669297
3        4.481689
4        4.055200
          ...
145    181.272242
146    148.413159
147    181.272242
148    221.406416
149    164.021907
Name: petal_length, Length: 150, dtype: float64

PARA ELIMINAR COLUMNAS UTILIZAMOS EL .DROP
AXIS = 1 -----> ES PARA ELIMINAR COLUMNAS

In [41]:
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep,pet_l/pet_w
0,5.1,3.5,1.4,0.2,Iris-setosa,1.6,0.28,17.85,6.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.9,0.28,14.70,6.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.5,0.26,15.04,6.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.5,0.30,14.26,7.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.4,0.28,18.00,6.0

In [42]:
df_iris.drop("sp-sw", axis = 1).head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sup-pet,sup-sep,pet_l/pet_w
0,5.1,3.5,1.4,0.2,Iris-setosa,0.28,17.85,6.0
1,4.9,3.0,1.4,0.2,Iris-setosa,0.28,14.70,6.0
2,4.7,3.2,1.3,0.2,Iris-setosa,0.26,15.04,6.0
3,4.6,3.1,1.5,0.2,Iris-setosa,0.30,14.26,7.0
4,5.0,3.6,1.4,0.2,Iris-setosa,0.28,18.00,6.0

si quiere eliminar una fila usamos el AXIS = 0

In [43]:
df_iris.drop([3,4], axis = 0).head()

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep,pet_l/pet_w
0,5.1,3.5,1.4,0.2,Iris-setosa,1.6,0.28,17.85,6.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.9,0.28,14.70,6.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.5,0.26,15.04,6.0
5,5.4,3.9,1.7,0.4,Iris-setosa,1.5,0.68,21.06,4.0
6,4.6,3.4,1.4,0.3,Iris-setosa,1.2,0.42,15.64,4.0

FILTROS CON PANDAS
utilizaremos el .filter

In [44]:
df_iris[df_iris.sepal_length < 5]

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep,pet_l/pet_w
1,4.9,3.0,1.4,0.2,Iris-setosa,1.9,0.28,14.70,6.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.5,0.26,15.04,6.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.5,0.30,14.26,7.0
6,4.6,3.4,1.4,0.3,Iris-setosa,1.2,0.42,15.64,4.0
8,4.4,2.9,1.4,0.2,Iris-setosa,1.5,0.28,12.76,6.0
9,4.9,3.1,1.5,0.1,Iris-setosa,1.8,0.15,15.19,14.0
11,4.8,3.4,1.6,0.2,Iris-setosa,1.4,0.32,16.32,8.0
12,4.8,3.0,1.4,0.1,Iris-setosa,1.8,0.14,14.40,13.0
13,4.3,3.0,1.1,0.1,Iris-setosa,1.3,0.11,12.90,11.0
22,4.6,3.6,1.0,0.2,Iris-setosa,1.0,0.20,16.56,4.0
24,4.8,3.4,1.9,0.2,Iris-setosa,1.4,0.38,16.32,9.0
29,4.7,3.2,1.6,0.2,Iris-setosa,1.5,0.32,15.04,8.0
30,4.8,3.1,1.6,0.2,Iris-setosa,1.7,0.32,14.88,8.0
34,4.9,3.1,1.5,0.1,Iris-setosa,1.8,0.15,15.19,14.0
37,4.9,3.1,1.5,0.1,Iris-setosa,1.8,0.15,15.19,14.0
38,4.4,3.0,1.3,0.2,Iris-setosa,1.4,0.26,13.20,6.0
41,4.5,2.3,1.3,0.3,Iris-setosa,2.2,0.39,10.35,4.0
42,4.4,3.2,1.3,0.2,Iris-setosa,1.2,0.26,14.08,6.0
45,4.8,3.0,1.4,0.3,Iris-setosa,1.8,0.42,14.40,4.0
47,4.6,3.2,1.4,0.2,Iris-setosa,1.4,0.28,14.72,6.0
57,4.9,2.4,3.3,1.0,Iris-versicolor,2.5,3.30,11.76,3.0
106,4.9,2.5,4.5,1.7,Iris-virginica,2.4,7.65,12.25,2.0

In [46]:
df_iris[df_iris.sepal_length * 2 > df_iris.sepal_width]

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep,pet_l/pet_w
0,5.1,3.5,1.4,0.2,Iris-setosa,1.6,0.28,17.85,6.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.9,0.28,14.70,6.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.5,0.26,15.04,6.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.5,0.30,14.26,7.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.4,0.28,18.00,6.0
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,3.7,11.96,20.10,2.0
146,6.3,2.5,5.0,1.9,Iris-virginica,3.8,9.50,15.75,2.0
147,6.5,3.0,5.2,2.0,Iris-virginica,3.5,10.40,19.50,2.0
148,6.2,3.4,5.4,2.3,Iris-virginica,2.8,12.42,21.08,2.0
149,5.9,3.0,5.1,1.8,Iris-virginica,2.9,9.18,17.70,2.0

In [47]:
df_iris[df_iris.iris.str.contains("v")] #obtenemos las cadenas de la columnas iris que contengan V

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep,pet_l/pet_w
50,7.0,3.2,4.7,1.4,Iris-versicolor,3.8,6.58,22.40,3.0
51,6.4,3.2,4.5,1.5,Iris-versicolor,3.2,6.75,20.48,3.0
52,6.9,3.1,4.9,1.5,Iris-versicolor,3.8,7.35,21.39,3.0
53,5.5,2.3,4.0,1.3,Iris-versicolor,3.2,5.20,12.65,3.0
54,6.5,2.8,4.6,1.5,Iris-versicolor,3.7,6.90,18.20,3.0
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,3.7,11.96,20.10,2.0
146,6.3,2.5,5.0,1.9,Iris-virginica,3.8,9.50,15.75,2.0
147,6.5,3.0,5.2,2.0,Iris-virginica,3.5,10.40,19.50,2.0
148,6.2,3.4,5.4,2.3,Iris-virginica,2.8,12.42,21.08,2.0
149,5.9,3.0,5.1,1.8,Iris-virginica,2.9,9.18,17.70,2.0

In [48]:
df_iris[df_iris.iris.str.contains("s")]

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep,pet_l/pet_w
0,5.1,3.5,1.4,0.2,Iris-setosa,1.6,0.28,17.85,6.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.9,0.28,14.70,6.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.5,0.26,15.04,6.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.5,0.30,14.26,7.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.4,0.28,18.00,6.0
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,3.7,11.96,20.10,2.0
146,6.3,2.5,5.0,1.9,Iris-virginica,3.8,9.50,15.75,2.0
147,6.5,3.0,5.2,2.0,Iris-virginica,3.5,10.40,19.50,2.0
148,6.2,3.4,5.4,2.3,Iris-virginica,2.8,12.42,21.08,2.0
149,5.9,3.0,5.1,1.8,Iris-virginica,2.9,9.18,17.70,2.0

In [49]:
df_iris[df_iris.iris.str.contains("color")].tail()
#obtenemos las

,sepal_length,sepal_width,petal_length,petal_width,iris,sp-sw,sup-pet,sup-sep,pet_l/pet_w
95,5.7,3.0,4.2,1.2,Iris-versicolor,2.7,5.04,17.10,3.0
96,5.7,2.9,4.2,1.3,Iris-versicolor,2.8,5.46,16.53,3.0
97,6.2,2.9,4.3,1.3,Iris-versicolor,3.3,5.59,17.98,3.0
98,5.1,2.5,3.0,1.1,Iris-versicolor,2.6,3.30,12.75,2.0
99,5.7,2.8,4.1,1.3,Iris-versicolor,2.9,5.33,15.96,3.0